@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloud Skills Challenge</h1>
    <h2>Kubernetes Bootcamp</h2>
    <p>Your machine:  <code>@Model.MachineName</code></p>  
</div>
